/* Encabezado */
header {
    background-color: #4CAF50; /* Verde Natural */
    color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
}

/* Formulario de búsqueda */
.busqueda {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.busqueda input[type="search"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
}

.busqueda button {
    background-color: #FFC107; /* Amarillo Dorado */
    color: #424242;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}
